<% if flash.any? || @product.errors.any? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <% flash.each do |type, msg| %>
          <div class="alert <%= bootstrap_flash_class(type) %> alert-dismissable fade show">
            <button class="close" data-dismiss="alert">x</button>
            <% @product.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
