<tbody>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Average delivery time</th>
      </tr>
    </thead>

      <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.id %></td>
        <td><%= shipment.name %></td>
        <td><%= shipment.price %></td>
        <td><%= shipment.delivery_time %></td>
      </tr>
      <% end %>
  </table>
</tbody>
